  <section id="signup" class="signup">
  <h2>Edit Your Profile</h2>

  <form class="edit-form">
 <div>
    <label for="username-signup">Edit Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Edit Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for"location-signup">Edit Location:</label>
    <input type="text" id="location-signup" />
  </div>
  <div>
    <lable for"website-signup">Edit Website:</label>
    <input type="text" id="website-signup" />
  </div>
<div> 
  <label for"upload-profile-pic">Edit Profile Pic:</label>
  <input type="file" id="upload-profile-pic" />
</div>
<div> 
  <label for"upload-your-work">Edit Your Work Samples:</label>
  <input type="file" id="upload-your-work" />
</div>
<div>
  <label for"artist-type:">Edit Artist Type:</label>
  <input type="text" id="artist-type" />
</div>

  <div>
    <button type="submit" class="btn">Save</button>
  </div>

   <div>
    <button type="sumbmit" class="delete-btn">Delete</button>
  </div>
</form>
</section>

<script src="/javascript/editprofile.js"></script>