<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="assets/images/faviconicon.png" sizes="16x16" type="image/png">
    
   <link rel="stylesheet" href="./assets/css/style.css"><link rel="stylesheet" href="./assets/css/secondary.css">
    <title>Contact Us</title>
  </head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">HIRE ART</a>
      </h1>
      <nav>
        <li><a href="#signup">SignUp</a></li>
        
      
        
        <li>
            <a href="#login">Login</a>
          </li>
          <li>  
            <button id="logout" class="btn-no-style">logout</button></li>
            <li>
            <a href="contact.html">Contact</a>
          </li>
      
      </nav>
    </header>
    <main>
      
      </script>
    <div class="name"> Anthony Cardozo 
      <img class="lakyn " src="./assets/images/334542_10152129912880181_175584631_o.jpg"></img>
      <a target="_blank" href="https://www.linkedin.com/in/lakyn-felix-359a43211/ "> Linkedin </a>
      <a target="_blank" href="https://github.com/LakynFelix "> GitHub </a>
      <a href="mailto:lakynmphotography@hotmail.com"> Email </a>  
    </div>

<div class="name">Lakyn Felix
  <img class="anthony pr-30px " src="./assets/images/Anthony.jpg"></img>
  <a target="_blank" href="https://www.linkedin.com/in/anthony-cardozo-26522313a/"> Linkedin </a>
  <a target="_blank" href="https://github.com/acardozoweb"> GitHub </a>
  <a href="mailto:anthonyccardozo@gmail.com"> Email </a>
</div>

<div class="name"> Waleed Toukan
  <img class="waleed " src="./assets/images/waleed.jpg"></img>
  <a target="_blank" href="https://www.linkedin.com/in/waleedtouqan/  "> Linkedin </a>
  <a target="_blank" href="https://github.com/GustavoPa"> GitHub </a>
  <a href="mailto:waleedtouqan@gmail.com"> Email </a>
</div>

      </script>
    </main>
   <footer>
      <h2>&copy; HIRE ART</h2>
    </footer>
  </div>
</body>
</html>
  